body {
  font-family: Montserrat, sans-serif;
}
.uno {
  background-color: black;
  color: white;
}
.dos {
  background-color: white;
  color: black;
}

.derecha {
  right: 100%;
}

.button1 {
  background-color: orangered;
}
.button1:hover {
  background-color: orange;
  color: black;
  transition-duration: 0.2s;
}
.button4 {
  background-color: rgb(121, 192, 15);
}
.button4:hover {
  background-color: green;
  transition-duration: 0.2s;
}
.button5 {
  background-color: rgb(0, 204, 255);
  color: white;
}
.button5:hover {
  background-color: rgb(0, 80, 201);
  color: white;
  transition-duration: 0.2s;
}
.button2:hover {
  background-color: black;
  color: white;
  transition-duration: 0.2s;
}
.button {
  background-color: rgb(0, 140, 255);
}
.button3:hover {
  background-color: rgba(0, 0, 255, 0.541);
  transition-duration: 0.2s;
}
.fondo4 {
  background: radial-gradient(circle, cyan, rgb(56, 56, 250), rgb(43, 78, 112));
}

.fondo {
  background: radial-gradient(circle, blue, cyan, rgb(43, 78, 112));
}
@keyframes fondito {
  from {
    background: radial-gradient(circle, blue, cyan, rgb(43, 78, 112));
  }
  to {
    background: radial-gradient(
      circle,
      cyan,
      rgb(56, 56, 250),
      rgb(43, 78, 112)
    );
  }
}
.fondo2 {
  background-color: rgb(0, 195, 255);
  color: white;
  transition-duration: 0.4s;
}
.fondo2:hover {
  transform: perspective(2000px) rotateX(0deg) rotateY(30deg) rotateZ(0deg)
    translateX(-30px) translateY(0px) translateZ(80px);
  background-color: black;
  transition-duration: 0.4s;
}
.inputcolor {
  color: black;
}
.fondoregistro {
  background-color: #c6c6c6;
  transition-duration: 0.4s;
}
.fondologin {
  transform: perspective(2000px) rotateX(0deg) rotateY(20deg) rotateZ(0deg)
    translateX(30px) translateY(0px) translateZ(80px);
  background-color: rgba(158, 152, 152, 0.336);
  transition-duration: 0.4s;
}
.fondologin:hover {
  background-color: #c6c6c6;
  transition-duration: 0.4s;
  transform: perspective(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.boton3 {
  background-color: orangered;
  color: black;
}

.boton3:hover {
  background-color: orange;
  color: black;
}
.fondoprincipal {
  background: radial-gradient(circle, red, black, rgb(43, 78, 112));
}
@keyframes fondito2 {
  from {
    background: radial-gradient(circle, black, red, rgb(43, 78, 112));
    background-color: white;
    color: white;
  }
  to {
    background: radial-gradient(circle, red, black, rgb(43, 78, 112));
    background-color: white;
    color: black;
  }
}
